VITE_GEMINI_API_KEY=YOUR_API_KEY_HERE
VITE_GEMINI_MODEL=gemini-1.5-flash
VITE_GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
VITE_ENTRA_CLIENT_ID=YOUR_ENTRA_CLIENT_ID
VITE_ENTRA_TENANT_ID=YOUR_ENTRA_TENANT_ID

# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyAqvrEFoC5TjeyyRTvrBAbQJxHaw4uWTcU
VITE_FIREBASE_AUTH_DOMAIN=mermaid-ai-app.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=mermaid-ai-app
VITE_FIREBASE_STORAGE_BUCKET=mermaid-ai-app.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=496727146058
VITE_FIREBASE_APP_ID=1:496727146058:web:2d58a99868e16c58fbb0b3
